/* Основные стили */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: blueviolet;
    font-size: large;
    font-family: Arial, sans-serif;
    background-image: url('/static/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 100px);
    text-align: center;
}

/* Всплывающее окно */
.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.popup-content {
    max-width: 400px;
    max-height: 500px;
    overflow-y: auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

/* Заголовки групп */
.radio-group {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffe4e1;
    border-radius: 5px;
}

.radio-group label {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

/* Цена */
.total-price {
    margin-top: 20px;
    font-size: 1.5rem;
    background-color: #ffe4e1;
    padding: 10px;
    border-radius: 10px;
}

/* Социальные ссылки */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.social-links a:hover {
    color: #FFD1FF;
}


